.color1 {
	background: #FF0000
}

.color2 {
	background: #FFFF00
}

.color3 {
	background: #00FF00
}

.color4 {
	background: #00FFFF
}

.color5 {
	background: #0000FF
}

.color6 {
	background: #ffcccc
}

.color7 {
	background: #808080
}

.color8 {
	background: #ff4000
}

.color9 {
	background: #00ff00
}

.color10 {
	background: #0080ff
}

.color11 {
	background: #ff00bf
}

.color12 {
	background: #ff8080
}
